<div class="inner">
  <header class="major">
    <h2>Wedding Accommodations</h2>
    
    <p>We have a few recommendations, but we are not booking a hotel block for the wedding.  We recommend staying somewhere near downtown Atlanta or in an Airbnb location within our neighborhood of Adair Park (or close by). The wedding will take place in the West End neighborhood, which is right next to Adair Park in southwest Atlanta.</p>
    
    <h4>If you want to stay at a hotel, here are some recommendations in no particular order:</h4>

    <p>
    	<a href="https://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/">Atlanta Marriott Marquis Downtown</a><br>
    	<i>This is where Hunger Games was filmed and where DragonCon takes place every year!</i>
    </p>
    <p><a href="https://hiltongardeninn3.hilton.com/en/hotels/georgia/hilton-garden-inn-atlanta-downtown-ATLDOGI/index.html">Hilton Garden Inn Atlanta Downtown</a><p>
    <p><a href="https://www.omnihotels.com/hotels/atlanta-cnn-center">Omni Atlanta Hotel at CNN Center</a><p>
    <p><a href="https://glennhotel.com/">Glenn Hotel, Autograph Collection</a><p>
    <p><a href="https://www.marriott.com/hotels/travel/atlhw-w-atlanta-downtown/">W Hotel Downtown</a><p>
    
    <p>
    	Wildcard: <a href="https://www.hotelclermont.com/">Hotel Clermont</a><br> 
    	<i>Recently renovated historic Atlanta landmark.  Boutique hotel nestled in the heart of Atlanta.  Elise and David are staying here.</i>
    </p>

    <h4>Airbnb</h4>

    <p><b>If you want to stay in our neighborhood, here are some great Airbnb options:</b></p>

    
    <p><a href="https://www.airbnb.com/rooms/17115869?s=51">Elbert/Allene Home</a>: 2 Bedrooms, Sleeps 4<p>
    <p><a href="https://www.airbnb.com/rooms/20842845?s=51">Metropptan Mansion</a>: Individual Suites in a historic home.  Recently awarded the Atlanta Urban Design Commission's Award of Excellence for Historic Rehabptation for 2018.  Three suites available.  Not good for kids.<p>

	<p>When searching for Airbnb options, look for Adair Park or West End</p>
	
  </header>
</div>