<div class="inner">
  <header class="major">
    <h2>Things to do in Atlanta</h2>

    <p>
    	<a href="https://mocaga.org/">Museum of Contemporary Art Georgia</a><br>
        <a href="https://atlantabg.org/">Atlanta Botanical Garden</a><br>
        <a href="http://littlefivepoints.net/">Local Shopping in Little Five Points</a><br>
        <a href="https://poncecitymarket.com/">Food & Shopping at Ponce City Market</a><br>
        <a href="https://beltline.org/visit/trails/">Walking or biking the Beltline Trail</a><br>
        <a href="https://www.catorwoolfordgardens.org/">Cator Woolford Gardens</a><br>
        <a href="https://docentcoffee.com/">Coffee at Docent</a><br>
        <a href="http://www.americanspiritwhiskey.com/">Bourbon Tasting at American Spirit Whiskey</a>
        <br>
        <a href="https://www.piedmontpark.org/">A stroll through Piedmont Park</a><br>
        <a href="https://www.yelp.com/biz/pho-dai-loi-2-atlanta">The best Pho in town</a>

    </p>
   
  </header>
</div>