<section class="spotlight" style="background: #3D5678">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>David and Elise</h2>
	   <p>Elise Blasingame, Atlanta native, and David Torello, not from Atlanta, met when Beyonce took down the Superdome during the 2013 Superbowl.  Everything else I had written here was pretty dumb so I'm just going to put this placeholder here so I don't get embarassed in public again.</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #3D5678">
  <div class="content">
    <p>Taco, check.  6 birds, check.  All that's left it to get married!</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>

/// Changed #808080 to #3D5678
