<section class="spotlight" style="background: #3D5678">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>David and Elise</h2>
	   <p>Elise and David met at a superbowl party in Atlanta, GA in 2013. Elise had just moved back to Georgia from Buffalo, NY and David was in the early stages of his PhD program at Georgia Tech. They began dating at Mardi Gras in New Orleans, LA just a few short weeks later and have been together ever since. Today they live in Adair Park with their baby, Taco Bell, an old snake named Street Cred (the re-mix) and their six chickens.</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #3D5678">
  <div class="content">
    <p>We would like to thank each of you for being such an important part of our journey together! We have incredibly loving and supportive families and wonderful friends who make up our community, and for that we are ever grateful. Special thank you to Becky, Hommood, BJ and Nortey for bringing us together back in the day! We cannot wait to celebrate with each of you in October.</p>
    <p>-David and Elise</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>
