<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>October 5, 2019</p>
	
	<p>Monday Night Garage<br>
	933 Lee St SW<br>
	Atlanta, GA 30310</p>
	
	<p>
	5:30 PM - Ceremony<br>
	6:30 PM - Dinner<br>
	7:30 PM - 11:00 PM - Reception<br>
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/calendar/r/eventedit/NTBiN2cwa2F0NWJ2ZjBsbnAyNmU4Nzk5M24gZGF2aWQudG9yZWxsb0Bt">[Change this] Add this event to Google Calendar</a>
	</p>
	
	<p>Share photos with the hashtag <strong>#blorellofarms</strong></p>	
  </header>
</div>
