<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2><br>
    
    <h4>Welcome Dinner (for out-of-town guests)</h4>
    <p>October 4, 2019</p>

    <p>
    <a href = "https://g.page/metatl?share"> MET Atlanta</a><br>
    680 Murphy Ave SW<br>
    Atlanta, GA 30310</p>

    <p>6-8p</p>

    <h4>Wedding Day</h4>
    <p>October 5, 2019</p>
	
	<p>
	<a href="https://g.page/monday-night-garage?share"> Monday Night Garage</a> <br>
	933 Lee St SW<br>
	Atlanta, GA 30310</p>
	
	<p>
	5:30 PM - Ceremony<br>
	6:30 PM - Dinner<br>
	7:30 PM - Reception<br>
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/calendar/r/eventedit/NTBiN2cwa2F0NWJ2ZjBsbnAyNmU4Nzk5M24gZGF2aWQudG9yZWxsb0Bt"> Add this event to Google Calendar</a>
	</p>
	
	<p>Share photos with the hashtag <strong>#blarellofarms</strong></p>	
  </header>
</div>
